/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-hot-sauce: #D33B0D;
    --color-white: #fff;
    --color-black: #000;
    --color-crema: #EBE9DC;
    --color-sky: #B8DFDB;
    --color-citrus: #D55C0C;
    --color-ocean: #1D8782;
    --color-ink: #202020;
    --color-tortilla: #DBD6C0;
    --color-peach: #FAB7A4;
    --color-aioli: #FACBA4;

    --max-content-width: 1150px;
    --font-futura: 'Futura Now Headline', sans-serif;
    --font-geist: 'Geist Mono', monospace;
    --font-holiday: 'Holiday', cursive;
}

@font-face {
    font-family: 'Futura Now Headline';
    src: url('futura-now-headline/FuturaNowHeadlineBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geist Mono';
    src: url('Geist_Mono/static/GeistMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Holiday';
    src: url('Holiday2_Regular/Holiday_New_Style.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

body {
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
    padding: 2rem;
}

h1 {
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    height: 44px;
    padding: 8px 20px;
    align-items: center;
    gap: 8.877px;
    font-family: var(--font-geist);
    font-size: 14.203px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
    border-radius: 8px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    width: fit-content;
}

.btn-primary {
    color: var(--color-crema);
    background: var(--color-hot-sauce);
}

.btn-secondary {
    color: var(--color-hot-sauce);
    background: var(--color-crema);
}