---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Book The Taco Project Food Truck | Taco Catering for Events" description="Bring the flavors of The Taco Project to your event with our taco truck! Serving freshly made tacos and more. Perfect for private parties and corporate events—book today!" ogImage="/food-truck-hero-the-taco-project.webp" ogUrl="https://thetacoproject.com/food-truck" ogType="restaurant">
    
    <section class="min-h-auto md:min-h-[80vh] bg-crema flex flex-col md:flex-row justify-between">
        
        <!-- Column 1: Content (md:80%, lg:60%) -->
        <div class="w-full md:max-w-[calc(var(--max-content-width)*0.8)] lg:max-w-[calc(var(--max-content-width)*0.6)] p-6 md:pt-8 md:pb-12 md:pl-12 md:pr-8">
            <div class="flex flex-col justify-between h-full gap-8 md:gap-0">
                <h1 class="text-hot-sauce font-futura text-[56px] md:text-[96px] font-[950] leading-[88%] tracking-tight uppercase text-balance">Vote Best Food Truck in NY</h1>
                <div class="flex flex-col md:flex-row gap-8">
                    <img src="/food-truck-banner-tn.webp" class="shrink max-w-[240px] w-full h-auto object-contain" alt="The Taco Project Food Truck" width="350" height="353" loading="eager" />
                    <div class="flex flex-col gap-4">
                        <p class="font-geist text-ink text-sm leading-[1.4]">Starting from Pleasantville, NY, our truck is available to book for events within a 20-mile radius—and beyond. Get ready for a fun, fresh, and flavorful experience, with customizable menu options, self-serve stations, and a team dedicated to making your event unforgettable!</p>



                        <div class="flex items-center justify-between">
                            <a href="https://www.toasttab.com/invoice/lead?rx=eb727eba-109b-4380-81dc-864212560986&ot=f8bf34b6-e937-475e-9591-b8e0836a9b23" rel="noopener noreferrer" class="group flex items-center justify-between w-full gap-2">
                                <div class="font-futura text-hot-sauce text-5xl md:text-[56px] leading-tight uppercase tracking-tight pb-1.5 transition-colors duration-500 group-hover:text-ink group-focus:text-ink">Book Us</div>
                                <div class="flex items-center gap-2 text-hot-sauce font-geist text-sm uppercase transition-all duration-500 pr-0 md:pr-4 group-hover:pr-0 group-hover:text-ink group-focus:pr-0 group-focus:text-ink">
                                    Inquiry Form
                                    <svg class="w-4 h-4" aria-hidden="true" focusable="false">
                                        <use href="#icon-external-link"></use>
                                    </svg>
                                </div>
                            </a>
                        </div>


                    </div>
                </div>
            </div>
        </div>
        <!-- Column 2: Image (md:20%, lg:40%) -->
        <div class="w-full md:max-w-[calc(var(--max-content-width)*0.2)] lg:max-w-[calc(var(--max-content-width)*0.4)] min-h-96 bg-cover bg-center bg-[url('/food-truck/food-truck-banner.webp')]"></div>
    </section>






    <!-- The Truck Gallery -->
    <section id="the_truck_gallery" class="bg-tortilla pt-12">
        <div class="px-6">
            <div class="flex flex-col gap-8 max-w-lg">
                <p class="font-geist text-ink text-sm leading-[1.4]">Our signature tacos are hitting the road! Whether you're hosting a private party, corporate event, or special celebration, The Taco Project's brand-new food truck brings our authentic, Mexican-inspired flavors directly to you.</p>
                <p class="font-geist text-sm leading-[1.4] uppercase">
                    <a href="https://www.toasttab.com/invoice/lead?rx=eb727eba-109b-4380-81dc-864212560986&ot=f8bf34b6-e937-475e-9591-b8e0836a9b23" class="text-hot-sauce flex gap-2 items-center" target="_blank" rel="noopener nofollow noreferrer">
                        Inquiry Form
                        <svg class="w-4 h-4" aria-hidden="true" focusable="false">
                            <use href="#icon-external-link"></use>
                        </svg>
                    </a>
                </p>
            </div>
        </div>

        <div class="px-6 md:px-8 lg:px-12 overflow-x-auto py-12">
            <!-- Photo Layout -->
            <div class="flex gap-4 w-max items-end">
                <img src="/food-truck/food-truck-customers-ny.webp" alt="Check out 'The Truck' from The Taco Project" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" width="675" height="484" />
                <img src="/food-truck/food-truck-customer-taco-project.webp" alt="Customers at The Taco Project Food Truck" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" width="675" height="804" />
                <img src="/food-truck/the-truck-taco-project.webp" alt="Westchester Food Truck from The Taco Project" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" width="675" height="450" />
                <img src="/food-truck/chips-salsa-guac-ny.webp" alt="Chips, Salsa, and Guacamole at The Taco Project" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" width="675" height="503" />
                <img src="/food-truck/taco-truck-food-ordering.webp" alt="Ordering from the The Taco Project's Food Truck" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" width="675" height="492" />
                <img src="/food-truck/food-truck-in-bronxville.webp" alt="The Taco Project's Food Truck in Bronxville, NY" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" width="675" height="450" />
            </div>
        </div>
    </section>

    <!-- Food Truck FAQs -->
    <section id="food-truck-faqs" class="bg-crema py-[100px] border-t border-ink/10">
        <div class="container flex flex-col items-center">
            <h2 class="font-futura text-ink text-[40px] leading-[0.92] tracking-[-2px] uppercase text-center mb-[54px]">We've Got Answers</h2>

            <div class="w-full max-w-[704px] border-t border-ink">
                {
                    [
                        {
                            q: "How do I book The Taco Project food truck for my event?",
                            a: "Booking is easy! Simply inquire through our contact form or call us to check availability.<br><br>Please note that booking must be completed at least two weeks before your event, and a 50% non-refundable deposit is required to secure your date.",
                        },
                        {
                            q: "Is there a minimum booking time?",
                            a: "Yes, we require a minimum booking of 2 hours at a rate of $800 per hour. This includes two servers, and additional servers can be provided at $35/hour.",
                        },
                        {
                            q: "What is included in the food truck package?",
                            a: "You’ll get an array of delicious options! Choose from our preset taco stations with various proteins (chicken, beef, shrimp, pork, and more) and sides like rice, beans, and churros.<br><br>Plus, we offer a self-serve toppings station, guacamole, and salsa with house-made chips.",
                        },
                        {
                            q: "Can I customize the menu?",
                            a: "Yes, we offer flexible menu options, allowing you to choose between pre-assembled tacos or tacos served from the truck.<br><br>Our team will work with you to ensure the menu fits your needs.",
                        },
                        {
                            q: "Do you offer beverages?",
                            a: "Absolutely! We offer a variety of non-alcoholic beverages, including Mexican sodas, Snapple Iced Tea, and Aguas Frescas.<br><br>If you want to serve alcohol, just ask us about adding a third server for your event.",
                        },
                        {
                            q: "Is there a travel fee?",
                            a: "For events located more than 20 miles from our Pleasantville location, there is a $55 travel fee.<br><br>We currently serve areas within and around Pleasantville, including Yonkers, Bronxville, and Stamford.",
                        },
                        {
                            q: "What is your cancellation policy?",
                            a: "We understand that plans can change. You can cancel up to 7 days before your event for a full refund.<br><br>Cancellations within 7 days may forfeit the 50% deposit, while those made within 72 hours of the event are eligible for store credit, valid for 3 months.",
                        },
                    ].map((faq, index) => (
                        <div class="border-b border-ink">
                            <button class="faq-toggle flex items-center justify-between gap-4 py-5 px-10 text-left w-full hover:bg-black/5 transition-colors cursor-pointer group" aria-expanded="false" aria-controls={`ft-faq-${index}`}>
                                <span class="font-geist text-ink text-[16px] leading-[1.4]">{faq.q}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-4 text-ink shrink-0 transition-transform duration-200 group-aria-expanded:rotate-180">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                                </svg>
                            </button>
                            <div id={`ft-faq-${index}`} class="hidden px-10 pb-5">
                                <p class="font-geist text-ink text-sm leading-[1.4] opacity-80" set:html={faq.a} />
                            </div>
                        </div>
                    ))
                }
            </div>
        </div>
    </section>

    <script>
        document.querySelectorAll(".faq-toggle").forEach((button) => {
            button.addEventListener("click", () => {
                const isExpanded = button.getAttribute("aria-expanded") === "true";
                button.setAttribute("aria-expanded", (!isExpanded).toString());

                const answerId = button.getAttribute("aria-controls");
                if (answerId) {
                    const answer = document.getElementById(answerId);
                    if (answer) {
                        answer.classList.toggle("hidden");
                    }
                }
            });
        });
    </script>
</BaseLayout>
