---
import CateringCTA from "../components/CateringCTA.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout 
    title="Our Menu | The Taco Project - Tacos, Burritos, Brunch & Happy Hour" 
    description="Explore The Taco Project's menu featuring authentic Mexican street food: tacos, burritos, quesadillas, and house-made salsas. Join us for Weekend Brunch and Happy Hour in NY & CT."
>


    <section id="page_nav" class="bg-crema pt-4">
        <div class="container">
            <ul class="flex flex-col md:flex-row gap-5 md:gap-8">
                <li class="flex-none">
                    <a href="#food-drink" class="flex items-center gap-1 font-geist text-sm uppercase leading-[1.4] text-hot-sauce">
                        Food &amp; Drink
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" class="size-[13px] rotate-90">
                            <use href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="flex-none">
                    <a href="#brunch" class="flex items-center gap-2 font-geist text-sm uppercase leading-[1.4] text-hot-sauce">
                        Brunch
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" class="size-[13px] rotate-90">
                            <use href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="flex-none">
                    <a href="#happy-hour" class="flex items-center gap-2 font-geist text-sm uppercase leading-[1.4] text-hot-sauce">
                        Happy Hour
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" class="size-[13px] rotate-90">
                            <use href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </li>
                <li class="flex-auto flex md:justify-end">
                    <a href="/catering/" class="flex items-center gap-2 font-geist text-sm uppercase leading-[1.4] text-hot-sauce">
                        Catering
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" class="size-[13px]">
                            <use href="#icon-arrow-right"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </section>

    <!-- FOOD & DRINK -->
    <section class="bg-crema py-4 md:py-16 relative" id="food-drink">
        <div class="container">
            <h2 class="font-futura text-citrus text-[56px] md:text-7xl lg:text-[104px] leading-[0.88] uppercase tracking-tight mb-4 md:mb-12 mt-8 md:mt-0">Food &amp; Drink</h2>

            <!-- HOUSE STARTERS -->
            <div class="mb-12">
                <p class="font-holiday text-citrus text-5xl leading-none -rotate-2 mb-4">House Starters</p>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">
                    <ul class="flex flex-col gap-y-3 mb-4 md:mb-0">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Guacamole</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">with house-made yellow corn tortilla chips</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Fire Roasted Salsa</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">with house-made yellow corn tortilla chips</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Project Nachos</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">corn tortilla chips with melted queso, black beans, pico de gallo, guacamole, jalapeños, sour cream, scallions. add beef, steak, or chicken</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Rice &amp; Beans</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">spiced mexican rice and black beans served with queso fresco, sour cream, radish, and cilantro</p>
                        </li>
                    </ul>
                    <ul class="flex flex-col gap-y-3">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Sidewinder Fries</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">sidewinder cut potatoes created with craft beer batter and served with chipotle aioli and jalapeño ketchup</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Project Wings</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">premium chicken wings in our thai chili sauce or house-made buffalo sauce topped with scallions side of celery and house-made ranch dressing</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Mexican Corn</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">fire roasted on the cob with cotija, mayo, sour cream, lemon, chili pepper</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Sweet Fried Plantains</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">with side of queso fresco and sour cream</p>
                        </li>
                    </ul>
                </div>
            </div>



            <!-- Tacos -->
            <div class="mb-12">
                <p class="font-holiday text-citrus text-5xl leading-tight -rotate-2 mb-4">Tacos</p>
                <p class="font-geist text-citrus text-sm leading-[1.4] lowercase">all tacos are two-to-an-order, and served on yellow corn tortillas</p>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">
                    <ul class="flex flex-col gap-y-3 mb-4 md:mb-0">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Taco of the Month</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">Chef's culinary creation. Each month a portion of sales will be donated to a selected charity.</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Steak</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">skirt steak topped with guaca-salsa, cilantro, and radish</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Shrimp</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">tempura battered shrimp topped with mango salsa, tomatillo sauce, cilantro, and radish</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Chicken</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">free range chicken rolled in chipotle topped with chipotle aioli, cilantro, jicama, and radish</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">BBQ Pulled Pork</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">slow cooked pork shoulder marinated in house-made bbq sauce with caramelized onion, cilantro, and radish</p>
                        </li>
                    </ul>
                    <ul class="flex flex-col gap-y-3">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Grilled Chicken</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">grilled chicken breast with guacamole, white onions and tomatillo, radish, and cilantro served on a soft flour tortilla</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Classic Beef</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">seasoned ground beef, cheddar cheese, salsa, lettuce, sour cream served on a hard corn tortilla shell</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Fish</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">atlantic cod topped with red cabbage slaw, guaca-salsa, cilantro, and radish. your choice of tempura battered or sautéed</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Grilled Salmon</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">Atlantic Salmon seasoned then grilled with chipotle aioli and topped with avocado cabbage slaw and accompanied with black beans salsa.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="mb-12 bg-tortilla px-6 pt-4 pb-8">
                <p class="font-holiday text-citrus text-5xl leading-none mb-4 -rotate-2">Birria</p>
                <ul class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4">
                    <li class="flex flex-col gap-1 mb-4">
                        <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Birria Tacos</p>
                        <p class="font-geist text-citrus text-sm leading-5 lowercase">3 tacos, slow cooked beef brisket, with melted oaxaca cheese, white onion, and cilantro, served on corn tortillas dipped in consommé and grilled pressed</p>
                    </li>
                    <li class="flex flex-col gap-1">
                        <p class="font-futura text-citrus text-menuitem text-3xl tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Birria Burrito</p>
                    </li>
                    <li class="flex flex-col gap-1">
                        <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Birria Bowl</p>
                    </li>
                    <li class="flex flex-col gap-1">
                        <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Birria Quesadilla</p>
                    </li>
                </ul>
            </div>



            <!-- Birria, burritos -->
            <div class="mb-12">
                <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-x-16">
                    <div class="">
                        <p class="font-holiday text-citrus text-5xl leading-none -rotate-2 mb-4">Burritos</p>
                        <ul class="flex flex-col mb-4 md:mb-0">
                            <li class="flex flex-col gap-1 mb-4">
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">All Burritos are filled to order, in a Flour Tortilla, and served with Rice, Beans, Cotija Cheese, Sour Cream, and your Favorite Protein.</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Steak</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Chicken</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Battered Shrimp</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Vegetable</p>
                            </li>
                        </ul>
                    </div>

                    <div class="">
                        <p class="font-holiday text-citrus text-5xl leading-none -rotate-2 mb-4">Burrito Bowls</p>
                        <ul class="flex flex-col mb-4 md:mb-0">
                            <li class="flex flex-col gap-1 mb-4">
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">All Bowls are filled to order, in a Flour Tortilla Shell, and served with Rice, Beans, Queso Fresco Cheese, Sour Cream, Radish, Cilantro, and your Favorite Protein.</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Steak</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Chicken</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Battered Shrimp</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Vegetable</p>
                            </li>
                        </ul>
                    </div>

                    <div class="">
                        <p class="font-holiday text-citrus text-5xl leading-none -rotate-2 mb-4">Quesadillas</p>
                        <ul class="flex flex-col mb-4 md:mb-0">
                            <li class="flex flex-col gap-1 mb-4">
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">flour tortillas with cheese with side of sour cream and pico de gallo</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Steak</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Chicken</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Battered Shrimp</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-3xl tracking-tight leading-none md:leading-10">Vegetable</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




            <!-- salads, kids -->
            <div class="mb-12">
                
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">
                    <div>
                        <p class="font-holiday text-citrus text-5xl leading-none -rotate-2 mb-4">Salads</p>
                        <ul class="flex flex-col gap-y-3 mb-4 md:mb-0">
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Field Green &amp; Smoked Corn</p>
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">smoked corn, queso fresco, grape tomatoes in a jalapeño cilantro vinaigrette, served with tortilla crisps</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Mexican Caesar</p>
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">romaine greens with house-made caesar dressing, croutons, pickled jalapeños, and shaved cheese</p>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <p class="font-holiday text-citrus text-5xl leading-none -rotate-2 mb-4">Kids Meal Boxes</p>
                        <p class="font-geist text-citrus text-sm leading-[1.4] lowercase">Includes choice of Water Bottle, Aqua Fresca (12oz), or Honest Kids drink. (No Substitutes)</p>
                        <ul class="flex flex-col gap-y-3">
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Quesadilla Box</p>
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">miniature cheese quesadilla with sidewinder fries, rice & beans, and drink</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Burrito Box</p>
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">miniature burrito with sidewinder fries, salad, and drink</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Taco Box</p>
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">1 taco with sidewinder fries, rice & beans, and drink</p>
                            </li>
                            <li class="flex flex-col gap-1">
                                <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Chicken Fingers Box</p>
                                <p class="font-geist text-citrus text-sm leading-5 lowercase">chicken fingers with sidewinder fries, rice & beans, and drink</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>




            <!-- Desserts -->
            <div class="mb-12">
                <p class="font-holiday text-citrus text-5xl leading-tight -rotate-2 mb-4">Desserts</p>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">
                    <ul class="flex flex-col gap-y-3 mb-4 md:mb-0">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Churros</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">house-made fried churros rolled in cinnamon sugar served with chocolate mole and caramel dipping sauce</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Caramel Flan</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">house-made caramel custard flan, whipped cream, caramel sauce</p>
                        </li>
                    </ul>
                    <ul class="flex flex-col gap-y-3">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Coconut Tres Leches Cake</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase">house-made with caramel sauce, toasted coconut, and homemade whipped cream</p>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- Beverages -->
            <div class="mb-12 mt-12 md:mt-4">
                <p class="font-holiday text-citrus text-5xl leading-tight -rotate-2 mb-4">Beverages</p>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">
                    <ul class="flex flex-col gap-y-3 mb-4 md:mb-0">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Non-Alcoholic</p>
                            <ul class="font-geist text-citrus text-sm leading-5 lowercase">
                                <li>Mexican Coke</li>
                                <li>Mexican Sprite</li>
                                <li>Coke</li>
                                <li>Diet Coke</li>
                                <li>Ginger Ale</li>
                                <li>Iced Tea</li>
                                <li>Poland Springs</li>
                                <li>Honest Kids drink</li>
                                <li class="text-balance">Jarritos (Choose from: Mango, Mandarin, Lime, Pineapple, Fruit Punch, Sparkling Water)</li>
                            </ul>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Aguas Frescas</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase text-balance">House Made Mexican Fresh Juices (choose from Hibiscus, Lemonade, and Horchata)</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Margaritas</p>
                            <ul class="font-geist text-citrus text-sm leading-5 lowercase">
                                <li>Classic</li>
                                <li>Mango</li>
                                <li>Pineapple</li>
                                <li>Pomegranate</li>
                                <li>Hibiscus</li>
                                <li>Spicy</li>
                                <li>Watermelon</li>
                                <li>Cadillac</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="flex flex-col gap-y-3">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Taco Project Sangria</p>
                            <p class="font-geist text-citrus text-sm leading-5 lowercase text-balance">House Made Fruity and Flavorful Wine Sangria by the Glass, Half-Pitcher, or Pitcher</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Beer</p>
                            <ul class="font-geist text-citrus text-sm leading-5 lowercase">
                                <li>Corona</li>
                                <li>Corona Light</li>
                                <li>Negra Modelo</li>
                                <li>Pacifico</li>
                                <li>Modelo Especial</li>
                            </ul>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Cocktails</p>
                            <ul class="font-geist text-citrus text-sm leading-5 lowercase">
                                <li>Paloma (Cantarito)</li>
                                <li>Mezcalita</li>
                                <li>Michelada</li>
                                <li>Moscow Mule</li>
                                <li>Mojito</li>
                                <li>Titos &amp; Club</li>
                                <li>Cuba Libre (Rum &amp; Coke)</li>
                            </ul>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-citrus text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Wine</p>
                            <ul class="font-geist text-citrus text-sm leading-5 lowercase">
                                <li>Malbec</li>
                                <li>Rose</li>
                                <li>Pinot Grigio</li>
                            </ul>
                        </li>



                    </ul>
                </div>
            </div>




          

    </section>





    <!-- Brunch -->
    <section id="brunch" class="bg-sky py-16 relative">
        <div class="container">
            <div class="flex flex-col md:flex-row md:gap-16 md:items-center mb-8 md:mb-12">
                <h2 class="font-futura text-ocean text-[56px] md:text-7xl lg:text-[104px] uppercase tracking-tight leading-none">Brunch</h2>
                <div>
                    <p class="font-holiday text-ocean text-5xl -rotate-2 leading-none">Saturdays &amp; Sundays 11am to 3pm</p>
                </div>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">

                <ul class="flex flex-col gap-y-3 mb-4 md:mb-0">
                    <li class="flex flex-col gap-1">
                        <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Avocado Toast</p>
                        <p class="font-geist text-ocean text-sm leading-5 lowercase">Served with Smashed Avocado, citrus, served on a buttered locally sourced artisan slice and topped with cherry tomatoes, onion, pickled jalapeño, cilantro, balsamic glaze.</p>
                    </li>
                    <li class="flex flex-col gap-1">
                        <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Breakfast Burrito</p>
                        <p class="font-geist text-ocean text-sm leading-5 lowercase">Scrambled eggs, chorizo, black beans, cheese, avocado, pico de gallo, wrapped in a flour tortilla.</p>
                    </li>
                </ul>
                <ul class="flex flex-col gap-y-3">
                    <li class="flex flex-col gap-1">
                        <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Chicken Enchiladas</p>
                        <p class="font-geist text-ocean text-sm leading-5 lowercase">Three Chicken Enchiladas rolled in Organic Yellow Corn Tortillas and served with Homemade Salsa Verde and Salsa Roja, then topped with Queso Fresco, Sour Cream, and Julienne Onions (GF)</p>
                    </li>
                    <li class="flex flex-col gap-1">
                        <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Taco Project Caesar Salad</p>
                        <p class="font-geist text-ocean text-sm leading-5 lowercase">Romaine Greens with house-made Caesar Dressing (contains anchovies, eggs) Topped with croutons, pickled jalapeños, and shaved cheese.</p>
                    </li>
                </ul>

            </div>



            <!-- Beverages -->
            <div class="mb-4 md:mb-12 mt-12 md:mt-4">
                <p class="font-holiday text-ocean text-5xl leading-tight -rotate-2 mb-4">Beverages</p>
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">
                    <ul class="flex flex-col gap-y-3 mb-4 md:mb-0">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Non-Alcoholic</p>
                            <ul class="font-geist text-ocean text-sm leading-5 lowercase">
                                <li>Mexican Coke</li>
                                <li>Mexican Sprite</li>
                                <li>Coke</li>
                                <li>Diet Coke</li>
                                <li>Ginger Ale</li>
                                <li>Iced Tea</li>
                                <li>Poland Springs</li>
                                <li>Honest Kids drink</li>
                                <li class="text-balance">Jarritos (Choose from: Mango, Mandarin, Lime, Pineapple, Fruit Punch, Sparkling Water)</li>
                            </ul>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Aguas Frescas</p>
                            <p class="font-geist text-ocean text-sm leading-5 lowercase text-balance">House Made Mexican Fresh Juices (choose from Hibiscus, Lemonade, and Horchata)</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Margaritas</p>
                            <ul class="font-geist text-ocean text-sm leading-5 lowercase">
                                <li>Classic</li>
                                <li>Mango</li>
                                <li>Pineapple</li>
                                <li>Pomegranate</li>
                                <li>Hibiscus</li>
                                <li>Spicy</li>
                                <li>Watermelon</li>
                                <li>Cadillac</li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="flex flex-col gap-y-3">
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Taco Project Sangria</p>
                            <p class="font-geist text-ocean text-sm leading-5 lowercase text-balance">House Made Fruity and Flavorful Wine Sangria by the Glass, Half-Pitcher, or Pitcher</p>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Beer</p>
                            <ul class="font-geist text-ocean text-sm leading-5 lowercase">
                                <li>Corona</li>
                                <li>Corona Light</li>
                                <li>Negra Modelo</li>
                                <li>Pacifico</li>
                                <li>Modelo Especial</li>
                            </ul>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Cocktails</p>
                            <ul class="font-geist text-ocean text-sm leading-5 lowercase">
                                <li>Paloma (Cantarito)</li>
                                <li>Mezcalita</li>
                                <li>Michelada</li>
                                <li>Moscow Mule</li>
                                <li>Mojito</li>
                                <li>Titos &amp; Club</li>
                                <li>Cuba Libre (Rum &amp; Coke)</li>
                            </ul>
                        </li>
                        <li class="flex flex-col gap-1">
                            <p class="font-futura text-ocean text-menuitem tracking-tight leading-none md:leading-10 mb-0 md:mb-1">Wine</p>
                            <ul class="font-geist text-ocean text-sm leading-5 lowercase">
                                <li>Malbec</li>
                                <li>Rose</li>
                                <li>Pinot Grigio</li>
                            </ul>
                        </li>



                    </ul>
                </div>
            </div>
                

                
               
            </div>

        </div>
    </section>




    <!-- Happy Hour -->
    <section id="happy-hour" class="bg-crema py-16 relative">
        <div class="container">
            <div class="flex flex-col md:flex-row md:gap-16 md:items-center mb-8 md:mb-12">
                <h2 class="font-futura text-hot-sauce text-[56px] md:text-7xl lg:text-[104px] uppercase tracking-tight leading-none">Happy Hour</h2>
                <div>
                    <p class="font-holiday text-hot-sauce text-5xl -rotate-2 leading-none">Weekdays 3:30 to 5:30pm</p>
                </div>
            </div>
            
            <!-- HOUSE STARTERS -->
            <div class="mb-12">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-x-16">
                    <div>
                        <p class="font-holiday text-hot-sauce text-5xl leading-none -rotate-2">Drinks</p>
                        <ul class="flex flex-col gap-y-2">
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Margarita</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$8</p>
                            </li>
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Sangria</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$5</p>
                            </li>
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Beer</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$5</p>
                            </li>
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Wine</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$5</p>
                            </li>
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Margarita Pitcher</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$30</p>
                            </li>
                        </ul>
                    </div>

                    <div class="mt-8 md:mt-0">
                        <p class="font-holiday text-hot-sauce text-5xl leading-none -rotate-2">Food</p>
                        <ul class="flex flex-col gap-y-2">
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Mexican Corn</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$6</p>
                            </li>
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Sidewinders Fries</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$7</p>
                            </li>
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Fried Plantains</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$5</p>
                            </li>
                            <li class="flex gap-3 items-baseline">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Churros</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">$7</p>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <p class="font-holiday text-hot-sauce text-5xl leading-none rotate-358 mt-10 md:mt-1">8 to 10pm</p>
                        <ul class="flex flex-col gap-y-4">
                            <li class="flex flex-col gap-4">
                                <p class="font-futura text-hot-sauce text-4xl tracking-tight leading-10">Half-Priced Pitchers</p>
                                <p class="font-geist text-hot-sauce text-sm leading-5 lowercase">any flavor margarita, sangria, or our house beers</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <CateringCTA />

    <script>
        document.querySelectorAll('#page_nav a[href^="#"]').forEach(anchor => {
            anchor.addEventListener('click', function (e) {
                e.preventDefault();
                const targetId = this.getAttribute('href').substring(1);
                const targetElement = document.getElementById(targetId);
                if (targetElement) {
                    const offset = 110;
                    const elementPosition = targetElement.getBoundingClientRect().top;
                    const offsetPosition = elementPosition + window.scrollY - offset;
    
                    window.scrollTo({
                        top: offsetPosition,
                        behavior: "smooth"
                    });
                }
            });
        });
    </script>
</BaseLayout>
