---
import CateringCTA from "../components/CateringCTA.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Best Tacos in Tarrytown | Mexican Restaurant | Lunch & Dinner" description="Join us on Main Street for the best tacos in Tarrytown, NY. Open for lunch and dinner every day! Stop by or order online.">





    <!-- Banner Section -->
    <section class="bg-crema relative flex min-h-[90vh]">
        <div class="w-[50vw] bg-[url('/tarrytown_banner.jpg')] bg-cover bg-center"></div>

        <!-- Right Column: Text Content -->
        <div class="flex flex-col">
            <div class="py-9 px-12" style="width:calc(var(--max-content-width) / 2)">
                <h1 class="font-futura text-ink text-[96px] leading-[0.88] uppercase tracking-tight">
                    Tarrytown,<br />New york
                </h1>
                <div class="flex flex-col gap-9">
                    <div class="flex flex-col gap-3.5">
                        <p class="font-geist text-ink text-sm text-3.5 leading-[1.4]">18 Main St. Tarrytown, NY 10591</p>
                        <p class="font-geist text-ink text-sm leading-[1.4]">
                            11am-9pm Sunday-Thursday<br />
                            11am-10pm Friday &amp; Saturday
                        </p>
                        <div class="flex items-center gap-2">
                            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g class="oi-phone">
                                    <path class="oi-box" d="M16 2.5H8C6.89543 2.5 6 3.39543 6 4.5V19.5C6 20.6046 6.89543 21.5 8 21.5H16C17.1046 21.5 18 20.6046 18 19.5V4.5C18 3.39543 17.1046 2.5 16 2.5Z" stroke="var(--color-hot-sauce)" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path class="oi-mini-dot" d="M12 18H12.012" stroke="var(--color-hot-sauce)" stroke-width="2.00" stroke-linecap="round"></path>
                                </g>
                            </svg>
                            <a href="tel:+19149094455" class="font-geist text-hot-sauce text-sm leading-[1.4]">(914) 909-4455</a>
                        </div>
                        <div class="flex items-center gap-2">
                            <svg width="14" height="14" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g class="oi-email">
                                    <path class="oi-box" d="M3 6C3 5.44772 3.44772 5 4 5H20C20.5523 5 21 5.44772 21 6V18C21 18.5523 20.5523 19 20 19H4C3.44772 19 3 18.5523 3 18V6Z" stroke="var(--color-hot-sauce)" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path class="oi-vector" d="M4 6L12 13L20 6" stroke="var(--color-hot-sauce)" stroke-width="2" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"></path>
                                </g>
                            </svg>
                            <a href="mailto:tarrytown@thetacoproject.com" class="font-geist text-hot-sauce text-sm leading-[1.4]">tarrytown@thetacoproject.com</a>
                        </div>
                    </div>
                    <div class="flex items-center gap-8">
                        <a href="https://order.toasttab.com/online/the-taco-project-tarrytown-18-main-street" class="btn btn-primary inline-flex items-center gap-2 bg-hot-sauce text-crema font-geist text-sm uppercase px-6 py-3 hover:opacity-90 transition-opacity w-fit">
                            Order online
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 12.427 12.427" class="size-[12.427px]">
                                <path fill="currentColor" d="M3.5 3.5h5.427v5.427" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                <path fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" d="M8.927 3.5L3.5 8.927"></path>
                            </svg>
                        </a>
                        <a href="">Order Catering</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="store_details" class="bg-tortilla pt-16">
        <div class="container">
            <div class="flex flex-col gap-9 max-w-lg">
                <p class="font-geist text-ink text-sm leading-[1.4]">At The Taco Project in Tarrytown, we're committed to providing our customers with an authentic and memorable dining experience. That's why we pride ourselves on our friendly service, cozy atmosphere, and vibrant flavors. From our colorful decor to our festive music, we're dedicated to bringing the energy and excitement of Mexico to every meal.</p>
                <p class="font-geist text-sm leading-[1.4] uppercase"><a href="text-hot-sauce">Inquiry Form <!-- external link icon --></a></p>
            </div>
        </div>

        <div class="px-6 md:px-8 lg:px-12 overflow-x-auto py-12">
            <!-- Photo Layout -->
            <div class="flex gap-4 w-max items-end">
                <img src="/tarrytown-taco-project-2.jpg" alt="Tarrytown Taco Project Interior" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" />
                <img src="/the-taco-project-menu-items.webp" alt="Menu Items from The Taco Project" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" />
                <img src="/tarrytown-taco-project-4.jpg" alt="Food at The Taco Project" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" />
                <img src="/friends-eating-at-the-taco-project.webp" alt="Friends Eating at The Taco Project" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" />
                <img src="/delicious-food-at-the-taco-project.webp" alt="Delicious Food at The Taco Project" class="w-[57vw] md:w-[40vw] lg:w-[28vw]" loading="lazy" decoding="async" />
            </div>
        </div>
    </section>

    <CateringCTA />
</BaseLayout>
