---

---

<section class="min-h-auto md:min-h-[80vh] bg-sky flex flex-col md:flex-row">
    <!-- Column 1: Image (remaining width) -->
    <div class="flex-1 min-h-96 md:min-h-auto bg-cover bg-center bg-[url('/catering-taco-project.webp')]"></div>
    <!-- Column 2: Content (max-width 35%) -->
    <div class="w-full md:max-w-[calc(var(--max-content-width)*0.35)] p-6">
        <div class="flex flex-col justify-between h-full gap-8 md:gap-0">
            <h2 class="text-ocean font-futura text-6xl md:text-[96px] font-[950] leading-[88%] tracking-tight uppercase" style="text-wrap:balance;">We'll Come to You</h2>
            <div class="flex flex-col gap-4">
                <div class="text-ocean font-holiday text-5xl font-normal leading-14 rotate-[-4deg]">We cater!</div>

                <p class="font-geist text-ink text-sm leading-[1.4] lowercase">Our Catering is offered per person in two packages which are designed to create a Taco Bar, allowing you and your guests to customize their own tacos with all the provided fixings.</p>
                <div class="flex items-center justify-between">
                    <a href="/catering/" class="group flex items-center justify-between w-full gap-2">
                        <div class="font-futura text-ocean text-5xl md:text-14 leading-tight uppercase tracking-tight pb-1.5 transition-colors duration-500 group-hover:text-ink group-focus:text-ink">catering</div>
                        <div class="flex items-center gap-2 text-ocean font-geist text-sm uppercase transition-all duration-500 pr-4 group-hover:pr-0 group-hover:text-ink group-focus:pr-0 group-focus:text-ink">
                            details
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13 13" class="size-[13px]">
                                <use href="#icon-arrow-right"></use>
                            </svg>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
