---

---

<section id="locations-list" class="bg-crema py-16 relative">
    <div class="container">
        <h2 class="font-futura text-citrus text-[64px] lg:text-[104px] leading-[0.88] uppercase tracking-[-5px] mb-12">Order from any of our locations</h2>

        <!-- Location Cards Grid -->
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8 mt-12">
            <!-- Bronxville Location -->
            <div class="grid grid-cols-[136px_1fr]">
                <div class="bg-cover bg-center" style="background-image: url('/bronxville-catering_tn.webp');"></div>

                <div class="bg-tortilla px-9 py-8 flex flex-col gap-6 h-full">
                    <div class="flex flex-col gap-6">
                        <div class="flex items-center justify-between">
                            <h3 class="font-futura text-hot-sauce text-3xl leading-9 tracking-tight">Bronxville, NY</h3>
                            <a href="#" class="flex items-center gap-2.5 hover:opacity-80 transition-opacity">
                                <span class="font-geist text-ink text-[14px] uppercase">inquire</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-ink">
                                    <use href="#icon-external-link"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="flex items-center gap-1.5">
                            <p class="font-geist text-ink text-[14px] leading-4">65 Pondfield Rd.</p>
                            <div class="text-ink font-geist text-[14px] leading-4">/</div>
                            <p class="font-geist text-ink text-[14px] leading-4"><a href="tel:+19143568226">(914) 356-8226</a></p>
                        </div>

                        <div class="flex items-center gap-3">
                            <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Order Catering</a>
                            <a href="#" class="font-geist text-hot-sauce leading-none" target="_blank" rel="noopener noreferrer">Get a Quote</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-hot-sauce">
                                <use href="#icon-external-link"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Tarrytown Location -->
            <div class="grid grid-cols-[136px_1fr]">
                <div class="bg-cover bg-center" style="background-image: url('/tarrytown-catering_tn.webp');"></div>

                <div class="bg-tortilla px-9 py-8 flex flex-col gap-6 h-full">
                    <div class="flex flex-col gap-6">
                        <div class="flex items-center justify-between">
                            <h3 class="font-futura text-hot-sauce text-3xl leading-9 tracking-tight">Tarrytown, NY</h3>
                            <a href="#" class="flex items-center gap-2.5 hover:opacity-80 transition-opacity">
                                <span class="font-geist text-ink text-[14px] uppercase">inquire</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-ink">
                                    <use href="#icon-external-link"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="flex items-center gap-1.5">
                            <p class="font-geist text-ink text-[14px] leading-4">18 Main St.</p>
                            <div class="text-ink font-geist text-[14px] leading-4">/</div>
                            <p class="font-geist text-ink text-[14px] leading-4"><a href="tel:+19149094455">(914) 909-4455</a></p>
                        </div>

                        <div class="flex items-center gap-3">
                            <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Order Catering</a>
                            <a href="#" class="font-geist text-hot-sauce leading-none" target="_blank" rel="noopener noreferrer">Get a Quote</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-hot-sauce">
                                <use href="#icon-external-link"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- New Rochelle Location -->
            <div class="grid grid-cols-[136px_1fr]">
                <div class="bg-cover bg-center" style="background-image: url('/new-rochelle-catering_tn.webp');"></div>

                <div class="bg-tortilla px-9 py-8 flex flex-col gap-6 h-full">
                    <div class="flex flex-col gap-6">
                        <div class="flex items-center justify-between">
                            <h3 class="font-futura text-hot-sauce text-3xl leading-9 tracking-tight">New Rochelle, NY</h3>
                            <a href="#" class="flex items-center gap-2.5 hover:opacity-80 transition-opacity">
                                <span class="font-geist text-ink text-[14px] uppercase">inquire</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-ink">
                                    <use href="#icon-external-link"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="flex items-center gap-1.5">
                            <p class="font-geist text-ink text-[14px] leading-4">596 North Ave.</p>
                            <div class="text-ink font-geist text-[14px] leading-4">/</div>
                            <p class="font-geist text-ink text-[14px] leading-4"><a href="tel:+19147297949">(914) 729-7949</a></p>
                        </div>

                        <div class="flex items-center gap-3">
                            <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Order Catering</a>
                            <a href="#" class="font-geist text-hot-sauce leading-none" target="_blank" rel="noopener noreferrer">Get a Quote</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-hot-sauce">
                                <use href="#icon-external-link"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Yonkers Location -->
            <div class="grid grid-cols-[136px_1fr]">
                <div class="bg-cover bg-center" style="background-image: url('/yonkers-catering_tn.webp');"></div>

                <div class="bg-tortilla px-9 py-8 flex flex-col gap-6 h-full">
                    <div class="flex flex-col gap-6">
                        <div class="flex items-center justify-between">
                            <h3 class="font-futura text-hot-sauce text-3xl leading-9 tracking-tight">Yonkers, NY</h3>
                            <a href="#" class="flex items-center gap-2.5 hover:opacity-80 transition-opacity">
                                <span class="font-geist text-ink text-[14px] uppercase">inquire</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-ink">
                                    <use href="#icon-external-link"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="flex items-center gap-1.5">
                            <p class="font-geist text-ink text-[14px] leading-4">1086 N. Broadway</p>
                            <div class="text-ink font-geist text-[14px] leading-4">/</div>
                            <p class="font-geist text-ink text-[14px] leading-4"><a href="tel:+19143754000">(914) 375-4000</a></p>
                        </div>

                        <div class="flex items-center gap-3">
                            <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Order Catering</a>
                            <a href="#" class="font-geist text-hot-sauce leading-none" target="_blank" rel="noopener noreferrer">Get a Quote</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-hot-sauce">
                                <use href="#icon-external-link"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Stamford Location -->
            <div class="grid grid-cols-[136px_1fr]">
                <div class="bg-cover bg-center" style="background-image: url('/stamford-catering_tn.webp');"></div>

                <div class="bg-tortilla px-9 py-8 flex flex-col gap-6 h-full">
                    <div class="flex flex-col gap-6">
                        <div class="flex items-center justify-between">
                            <h3 class="font-futura text-hot-sauce text-3xl leading-9 tracking-tight">Stamford, CT</h3>
                            <a href="#" class="flex items-center gap-2.5 hover:opacity-80 transition-opacity">
                                <span class="font-geist text-ink text-[14px] uppercase">inquire</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-ink">
                                    <use href="#icon-external-link"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="flex items-center gap-1.5">
                            <p class="font-geist text-ink text-[14px] leading-4">1111 High Ridge Rd.</p>
                            <div class="text-ink font-geist text-[14px] leading-4">/</div>
                            <p class="font-geist text-ink text-[14px] leading-4"><a href="tel:+12037039495">(203) 703-9495</a></p>
                        </div>

                        <div class="flex items-center gap-3">
                            <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Order Catering</a>
                            <a href="#" class="font-geist text-hot-sauce leading-none" target="_blank" rel="noopener noreferrer">Get a Quote</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-hot-sauce">
                                <use href="#icon-external-link"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pleasantville Location -->
            <div class="grid grid-cols-[136px_1fr]">
                <div class="bg-cover bg-center" style="background-image: url('/pleasantville-catering_tn.webp');"></div>

                <div class="bg-tortilla px-9 py-8 flex flex-col gap-6 h-full">
                    <div class="flex flex-col gap-6">
                        <div class="flex items-center justify-between">
                            <h3 class="font-futura text-hot-sauce text-3xl leading-9 tracking-tight">Pleasantville, NY</h3>
                            <a href="#" class="flex items-center gap-2.5 hover:opacity-80 transition-opacity">
                                <span class="font-geist text-ink text-[14px] uppercase">inquire</span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-ink">
                                    <use href="#icon-external-link"></use>
                                </svg>
                            </a>
                        </div>

                        <div class="flex items-center gap-1.5">
                            <p class="font-geist text-ink text-[14px] leading-4">465 Bedford Rd.</p>
                            <div class="text-ink font-geist text-[14px] leading-4">/</div>
                            <p class="font-geist text-ink text-[14px] leading-4"><a href="tel:+19144228111">(914) 422-8111</a></p>
                        </div>

                        <div class="flex items-center gap-3">
                            <a href="#" class="btn btn-primary" target="_blank" rel="noopener noreferrer">Order Catering</a>
                            <a href="#" class="font-geist text-hot-sauce leading-none" target="_blank" rel="noopener noreferrer">Get a Quote</a>
                            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" class="text-hot-sauce">
                                <use href="#icon-external-link"></use>
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
