---
import "../styles/global.css";

interface Props {
    title?: string;
}

const { title = "The Taco Project" } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>{title}</title>
    </head>
    <body>
        <!-- SVG Sprite Definitions -->
        <svg style="display: none;" aria-hidden="true">
            <symbol id="icon-external-link" viewBox="0 0 13 13">
                <path d="M5.12622 2.95166H2.95142C2.35086 2.95166 1.86401 3.43851 1.86401 4.03906V9.47607C1.86401 10.0766 2.35086 10.5635 2.95142 10.5635H8.38843C8.98898 10.5635 9.47583 10.0766 9.47583 9.47607V7.30127M7.30102 1.86426H10.5632M10.5632 1.86426V5.12646M10.5632 1.86426L5.12622 7.30127" stroke="currentColor" stroke-width="0.887675" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
            </symbol>
        </svg>

        <!-- Page Content -->
        <slot />

        <!-- Global Footer -->
        <footer id="footer" class="bg-ink pt-9 pb-9">
            <div class="container">
                <div class="flex flex-col md:flex-row gap-[24px]">
                    <div class="">
                        <h4 class="text-tortilla uppercase text-3xl tracking-tight font-futura font-bold m-0 p-0">Locations</h4>
                        <ul class="list-none font-futura font-bold uppercase text-3xl tracking-tight">
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Tarrytown, NY</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">New Rochelle, NY</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Bronxville, NY</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Yonkers, NY</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Pleasantville, NY</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Stamford, CT</a></li>
                            <li class="m-0 p-0 leading-none" style="color: #205350">Greenwich, NY</li>
                            <li class="m-0 p-0 font-holiday text-tortilla capitalize text-2xl rotate-[-4deg]">Coming soon!</li>
                        </ul>
                    </div>
                    <div class="">
                        <h4 class="text-tortilla uppercase text-3xl tracking-tight font-futura font-bold m-0 p-0">Menus</h4>
                        <ul class="list-none font-futura font-bold uppercase text-3xl tracking-tight">
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Food &amp; Drink</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Happy Hour</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Brunch</a></li>
                        </ul>
                    </div>
                    <div class="">
                        <h4 class="text-tortilla uppercase text-3xl tracking-tight font-futura font-bold m-0 p-0">More</h4>
                        <ul class="list-none font-futura font-bold uppercase text-3xl tracking-tight">
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">The Truck</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Catering</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Careers</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Press</a></li>
                            <li class="m-0 p-0 leading-none"><a href="#" class="text-ocean">Contact</a></li>
                        </ul>
                    </div>
                    <div class="flex flex-col gap-4">
                        <!-- subscribe to email list -->
                        <h5 class="font-holiday text-tortilla text-2xl tracking-tight">Join the project</h5>
                        <form class="flex flex-col gap-2" id="sib-form" method="POST" action="https://c4ded333.sibforms.com/serve/MUIFAI-bIopcgdPu_2EJ1UQlO5kBLqMTig4ank1tduZbMD-quKmFlH9hJbx5pBBB4HFOuLFtDmIxfMHjVXCyk1EIEqTO2owa0ZXmURSvsDdp_DZhvBQz6z5anWsEqljJVTW49j4Z5Z4_lG0nTN4ENriOZCzFHUj33m_gCMsZqQK0cKgCt6KX5EDT5wGIrTS1F89wtWdztP9QR6CN">
                            <!-- email input -->
                            <input class="input bg-tortilla rounded-lg py-[11px] px-[16px] font-['Geist_Mono'] font-normal text-[13px] leading-[140%] tracking-normal align-middle" type="text" id="EMAIL" name="EMAIL" autocomplete="off" placeholder="EMAIL" data-required="true" required />
                            <!-- error message -->
                            <label class="entry__error entry__error--primary" style="font-size:16px; text-align:left; font-family:Helvetica, sans-serif; color:#661d1d; background-color:#ffeded; border-radius:3px; border-color:#ff4949;"></label>

                            <input type="text" name="email_address_check" value="" class="input--hidden hidden" />
                            <input type="hidden" name="locale" value="en" />
                            <input type="hidden" name="html_type" value="simple" />

                            <button type="submit" form="sib-form" class="bg-ocean rounded-lg py-2 px-5 font-geist font-normal text-[13px] leading-[140%] uppercase text-crema">Submit</button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="container">
                <!-- social media icons -->
                <div class="flex gap-4 justify-end">
                    <a href="https://x.com/TheTacoProject_" target="_blank" rel="noopener noreferrer">
                        <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M6.70655 17.3283C14.7541 17.3283 19.1557 10.661 19.1557 4.87918C19.1557 4.68981 19.1557 4.50129 19.1429 4.31362C19.9992 3.69424 20.7384 2.92734 21.3258 2.04882C20.5273 2.40283 19.6802 2.63488 18.8128 2.73721C19.7262 2.19046 20.4098 1.3304 20.7364 0.317158C19.8775 0.826853 18.9379 1.18603 17.9581 1.37918C17.2984 0.677722 16.4259 0.213231 15.4756 0.0575911C14.5253 -0.0980492 13.5503 0.063838 12.7013 0.518201C11.8523 0.972564 11.1767 1.69407 10.7791 2.57107C10.3815 3.44808 10.284 4.43168 10.5017 5.36967C8.76216 5.28241 7.06041 4.83034 5.50691 4.04279C3.95341 3.25523 2.58288 2.14981 1.48428 0.798269C0.924766 1.76148 0.753399 2.90173 1.00507 3.98686C1.25674 5.07198 1.91252 6.02039 2.83889 6.63899C2.14256 6.61858 1.46139 6.43074 0.853033 6.09134V6.14679C0.85331 7.15697 1.203 8.13595 1.84279 8.9177C2.48258 9.69944 3.37309 10.2358 4.36327 10.4358C3.71912 10.6115 3.04326 10.6372 2.38764 10.5109C2.66734 11.3802 3.2117 12.1404 3.9446 12.6852C4.67751 13.23 5.56233 13.5321 6.47538 13.5494C5.56821 14.2625 4.52935 14.7897 3.41824 15.1009C2.30713 15.4121 1.14557 15.5011 0 15.363C2.00093 16.647 4.32908 17.3281 6.70655 17.3249"
                                fill="#3F9A95"
                            >
                            </path>
                        </svg>
                    </a>
                    <a href="https://www.facebook.com/Eat.TheTacoProject/" target="_blank" rel="noopener noreferrer">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g clip-path="url(#clip0_212_1487)">
                                <path d="M21.3258 10.6629C21.3258 4.77395 16.5519 0 10.6629 0C4.77395 0 0 4.77395 0 10.6629C0 15.985 3.89925 20.3964 8.99683 21.1963V13.7452H6.28945V10.6629H8.99683V8.31374C8.99683 5.64135 10.5888 4.1652 13.0244 4.1652C14.1906 4.1652 15.4112 4.37346 15.4112 4.37346V6.99754H14.0667C12.7422 6.99754 12.329 7.81954 12.329 8.66362V10.6629H15.2863L14.8135 13.7452H12.329V21.1963C17.4266 20.3964 21.3258 15.985 21.3258 10.6629Z" fill="#3F9A95"></path>
                                <path d="M14.8135 13.7451L15.2863 10.6629H12.329V8.66358C12.329 7.82033 12.7422 6.9975 14.0667 6.9975H15.4112V4.37342C15.4112 4.37342 14.191 4.16516 13.0244 4.16516C10.5887 4.16516 8.99681 5.64131 8.99681 8.3137V10.6629H6.28943V13.7451H8.99681V21.1963C10.1008 21.369 11.225 21.369 12.329 21.1963V13.7451H14.8135Z" fill="#202020"></path>
                            </g>
                            <defs>
                                <clipPath id="clip0_212_1487">
                                    <rect width="21.3258" height="21.3258" fill="white"></rect>
                                </clipPath>
                            </defs>
                        </svg>
                    </a>
                    <a href="https://www.instagram.com/tacoproject/" target="_blank" rel="noopener noreferrer">
                        <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M10.6629 1.92016C13.5119 1.92016 13.8493 1.93265 14.9697 1.98264C16.011 2.02845 16.5733 2.20339 16.9482 2.34917C17.4439 2.54077 17.8021 2.77402 18.1728 3.14473C18.5476 3.5196 18.7767 3.87364 18.9683 4.3693C19.1141 4.74416 19.289 5.31063 19.3349 6.34777C19.3848 7.47237 19.3973 7.80975 19.3973 10.6546C19.3973 13.5036 19.3848 13.841 19.3349 14.9614C19.289 16.0027 19.1141 16.565 18.9683 16.9399C18.7767 17.4355 18.5435 17.7937 18.1728 18.1644C17.7979 18.5393 17.4439 18.7684 16.9482 18.96C16.5733 19.1058 16.0069 19.2807 14.9697 19.3265C13.8451 19.3765 13.5077 19.389 10.6629 19.389C7.81392 19.389 7.47654 19.3765 6.3561 19.3265C5.3148 19.2807 4.75249 19.1058 4.37763 18.96C3.88197 18.7684 3.52376 18.5351 3.15306 18.1644C2.77819 17.7896 2.5491 17.4355 2.3575 16.9399C2.21172 16.565 2.03678 15.9985 1.99097 14.9614C1.94098 13.8368 1.92849 13.4994 1.92849 10.6546C1.92849 7.80559 1.94098 7.46821 1.99097 6.34777C2.03678 5.30647 2.21172 4.74416 2.3575 4.3693C2.5491 3.87364 2.78235 3.51543 3.15306 3.14473C3.52793 2.76986 3.88197 2.54077 4.37763 2.34917C4.75249 2.20339 5.31896 2.02845 6.3561 1.98264C7.47654 1.93265 7.81392 1.92016 10.6629 1.92016ZM10.6629 0C7.7681 0 7.40573 0.0124956 6.26863 0.062478C5.13569 0.11246 4.3568 0.295729 3.68204 0.558137C2.97812 0.83304 2.3825 1.19541 1.79104 1.79104C1.19541 2.3825 0.83304 2.97812 0.558137 3.67787C0.295729 4.3568 0.11246 5.13153 0.062478 6.26446C0.0124956 7.40573 0 7.7681 0 10.6629C0 13.5577 0.0124956 13.9201 0.062478 15.0572C0.11246 16.1901 0.295729 16.969 0.558137 17.6438C0.83304 18.3477 1.19541 18.9433 1.79104 19.5348C2.3825 20.1263 2.97812 20.4928 3.67787 20.7635C4.3568 21.0259 5.13153 21.2092 6.26446 21.2592C7.40156 21.3092 7.76393 21.3217 10.6587 21.3217C13.5536 21.3217 13.9159 21.3092 15.053 21.2592C16.186 21.2092 16.9649 21.0259 17.6396 20.7635C18.3394 20.4928 18.935 20.1263 19.5265 19.5348C20.1179 18.9433 20.4845 18.3477 20.7552 17.648C21.0176 16.969 21.2009 16.1943 21.2509 15.0614C21.3008 13.9243 21.3133 13.5619 21.3133 10.6671C21.3133 7.77227 21.3008 7.40989 21.2509 6.27279C21.2009 5.13986 21.0176 4.36097 20.7552 3.6862C20.4928 2.97812 20.1304 2.3825 19.5348 1.79104C18.9433 1.19958 18.3477 0.83304 17.648 0.562302C16.969 0.299894 16.1943 0.116626 15.0614 0.0666432C13.9201 0.0124956 13.5577 0 10.6629 0Z"
                                fill="#3F9A95"
                            >
                            </path>
                            <path d="M10.6629 5.18567C7.63897 5.18567 5.18567 7.63897 5.18567 10.6629C5.18567 13.6868 7.63897 16.1401 10.6629 16.1401C13.6868 16.1401 16.1401 13.6868 16.1401 10.6629C16.1401 7.63897 13.6868 5.18567 10.6629 5.18567ZM10.6629 14.2158C8.7011 14.2158 7.10999 12.6247 7.10999 10.6629C7.10999 8.7011 8.7011 7.10999 10.6629 7.10999C12.6247 7.10999 14.2158 8.7011 14.2158 10.6629C14.2158 12.6247 12.6247 14.2158 10.6629 14.2158Z" fill="#3F9A95"></path>
                            <path d="M17.6354 4.96915C17.6354 5.67723 17.0606 6.24787 16.3567 6.24787C15.6486 6.24787 15.078 5.67307 15.078 4.96915C15.078 4.26106 15.6528 3.69043 16.3567 3.69043C17.0606 3.69043 17.6354 4.26523 17.6354 4.96915Z" fill="#3F9A95"></path>
                        </svg>
                    </a>
                </div>
            </div>

            <div class="container">
                <!-- content wide logo -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" fill="none" viewBox="0 0 1214 142">
                    <g fill="#dbd6c0" clip-path="url(#a)">
                        <path
                            d="M801.827.092c-26.081 0-47.309 21.228-47.309 47.31 0 26.08 21.228 47.308 47.309 47.308s47.309-21.227 47.309-47.309c0-26.08-21.216-47.309-47.309-47.309m0 59.316c-6.621 0-12.006-5.385-12.006-12.007s5.385-12.006 12.006-12.006 12.007 5.385 12.007 12.006-5.385 12.007-12.007 12.007M458.773 0c-26.081 0-47.309 21.228-47.309 47.31 0 26.08 21.228 47.308 47.309 47.308s47.309-21.228 47.309-47.309S484.866 0 458.773 0m0 59.315c-6.621 0-12.006-5.384-12.006-12.006s5.385-12.006 12.006-12.006 12.006 5.385 12.006 12.006-5.385 12.006-12.006 12.006M502.153 100.881h-86.749v37.013h86.749zM845.103 100.881h-86.748v37.013h86.748zM1127.18 3.698v36.978h24.89v97.218h36.98V40.676h24.88V3.698zM940.149 137.894l78.581-.058v-36.978h-41.603v-11.59H1009V52.289h-31.873V40.687h41.603V3.71l-78.581-.058zM201.427 3.698h-86.748v36.978h24.891v97.23h36.978v-97.23h24.879zM602.006 3.79l-50.568-.139v134.243h36.978v-36.747h13.59c24.741 0 43.08-23.944 43.08-47.702v-1.953c0-23.758-19.321-47.702-43.08-47.702m-6.182 63.845h-7.419V38.457h7.419c8.042 0 14.583 6.54 14.583 14.583s-6.541 14.584-14.583 14.584zM230.733 3.663l-38.446 134.243h36.065l4.183-14.63h37.707l4.183 14.63h36.065L272.033 3.663zm11.729 84.946 8.921-31.154 8.921 31.154zM744.811 46.916c0-23.782-19.344-43.195-43.114-43.195l-47.656-.058v134.243h36.979V96.721l18.789 41.185h40.642l-25.076-54.97c11.706-7.72 19.448-20.974 19.448-36.008zm-47.459 21.378h-6.344V37.937h6.344c8.378 0 15.184 6.795 15.184 15.185 0 8.389-6.794 15.184-15.184 15.184zM890.355 3.698h-31.004V40.71h31.12l.092 30.876c0 17.207-14.005 29.294-31.212 29.294v38.897c37.603 0 68.191-30.588 68.191-68.19V3.65h-37.187zM304.897 70.582c0 38.469 31.293 69.762 69.762 69.762 8.551 0 16.756-1.56 24.336-4.391v-46.28c-5.673 7.21-14.467 11.855-24.336 11.855-17.068 0-30.946-13.89-30.946-30.946s13.89-30.946 30.946-30.946c9.869 0 18.663 4.645 24.336 11.856V5.212A69.4 69.4 0 0 0 374.659.82c-38.469 0-69.762 31.293-69.762 69.762M1022.19 71.715c0 38.469 31.3 69.762 69.77 69.762 8.55 0 16.75-1.56 24.32-4.391V90.805c-5.67 7.21-14.47 11.856-24.32 11.856-17.07 0-30.95-13.89-30.95-30.946s13.88-30.946 30.95-30.946c9.86 0 18.66 4.645 24.32 11.856V6.345a69.4 69.4 0 0 0-24.32-4.392c-38.47 0-69.77 31.293-69.77 69.762M72.859 97.322c.323 1.387 1.074 2.67 2.403 3.709 5.582 4.368 15.543.22 31.258-15.438 1.526-1.525-.485-4.368-2.334-2.693-5.489 4.68-11.197 9.384-17.726 12.827-2.577 1.306-6.044 2.704-8.655 2.647-.232-.093.069-1.48.22-2.173.172-.474.334-1.051.612-1.652 5.073-.22 14.028-2.219 12.815-7.072-.624-2.543-3.097-4.53-5.64-4.935-2.934-.474-5.823.971-8.007 2.866-.128.081-.243.185-.37.312a3 3 0 0 1-.197.208c-.104.104-.22.197-.312.3-.289.301-.566.625-.843.96-2.346 2.53-4.83 5.038-7.419 7.314-1.757 1.549-3.837 3.248-5.997 4.172.15-2.739 1.34-5.362 1.479-8.205.058-2.611-.775-5.015-3.074-6.344-2.889-1.606-5.085.104-7.28 1.815-3.12 2.496-5.628 5.489-8.008 8.586a78 78 0 0 1 1.04-4.98c2.762-11.788 7.245-23.09 12.11-34.09 1.225.104 2.438.3 3.582.647.116-.012.232.092.474.173-.092.231-.162.59-.266.705a5.1 5.1 0 0 1-1.155 1.826c-1.49 1.86 3.224 5.65 4.715 3.79 2.091-2.611 2.565-5.489.138-8.054-2.68-2.762-6.83-3.444-10.585-3.594-11.844-.624-24.197 2.427-35.326 6.263-6.98 2.462-13.786 5.478-19.887 9.66-2.219 1.492 2.196 5.536 3.987 4.323 8.62-6.044 18.847-9.892 29.108-12.377-4.552 10.123-7.534 21.101-9.972 31.906-1.225 5.338-2.311 10.897-2.716 16.49-.277 3.651-.508 7.754 1.33 11.07 1.155 2.253 6.124 3.178 4.148-.347-1.144-2.137-.45-7.199-.185-9.949.635-5.512 1.745-10.955 3.062-16.42 2.415-10.008 5.12-20.385 9.522-29.814.543-1.19-1.225-2.924-2.877-3.536 5.073-1.237 10.18-2.138 15.346-2.589.37-.035.75-.058 1.132-.08-4.865 11.046-9.117 22.487-11.532 34.297-.775 4.275-3.051 12.457 1.906 15.311.613.381 2.138.901 2.739.15 4.01-5.766 7.569-11.475 13.22-15.727-.208 1.155-.544 2.322-.867 3.49-.45 2.091-.89 4.287-.208 6.367 1.34 3.929 4.31 5.188 7.87 3.547 2.888-1.363 5.119-3.281 7.233-5.673zm9.707-8.193c1.144-.924 3.848-2.126 3.755-1.883-.37.716-1.098 1.363-1.722 1.883-1.04.797-2.346 1.283-3.686 1.537.624-.52 1.133-1.028 1.641-1.537zM63.58 56.553l-.128-.103c.116-.012.128.103.128.103m-.648-.727v-.116c.104-.012-.011 0 0 .115"
                        >
                        </path>
                    </g><defs><clipPath id="a"><path fill="#fff" d="M0 0h1213.93v141.476H0z"></path></clipPath></defs>
                </svg>
            </div>

            <div class="container">
                <div class="flex justify-between">
                    <p class="font-mono text-[13px] leading-[180%]">&copy; {new Date().getFullYear()} The Taco Project. All rights reserved.</p>
                    <div class="flex">
                        <a href="#">Cookie Policy</a> / <a href="#">Privacy Policy</a> / <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>
